.btn{
    font-family: $poppins-semiBold, $sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    background-color: $orange;
    border-radius: 8px;
    padding: 12px 28px;
    display: inline-block;
    &:hover{
        opacity: 0.7;
        transition: all .2s linear;
    }
}