.header{
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &__controls,
    &__logo{
        min-width: 200px;
    }
    &__controls{
        display: flex;
    }
}
.nav{
    &__menu{
        display: flex;
    }
    &__link{
        display: flex;
        align-items: center;
        padding: 30px;
        svg{
            margin-left: 10px;
        }
    }

}
.controls{
    &__link{
        margin-right: 10px;
    }

}
