.title{
    font-family: $poppins-medium, $sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 70px;
    color: $white;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.title-2{
    font-family: $poppins-medium, $sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $white;
    margin-bottom: 20px;
}
.text{
    max-width: 426px;
    font-family: $poppins-regular, $sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: $white;
    opacity: 0.5;
}
.text-2{
    //font-family: $poppins-medium, $sans-serif;
    //font-size: 16px;
    //font-weight: 300;
    //line-height: 18px;
    //color: $white;
    //opacity: 0.5;

    font-family: $poppins-medium, $sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    color: $white;
    opacity: 0.5;
}