//colors
$white: #fff;
$dark-gray: #1E252B;
$second-dark-gray: #283036;
$orange: #FF6E30;
$yellow: #FFA537;
$red: #FD3B41;
//fonts
$poppins-regular: 'Poppins Regular';
$poppins-medium: 'Poppins Medium';
$poppins-semiBold: 'Poppins SemiBold';
$sans-serif: sans-serif;
//bp
$tablet-bp: 1024px;
$mobile-bp: 768px;