.newcomer-tools{
    padding: 200px 0 100px;
    &__text{
        margin-bottom: 60px;
    }
    &__left,
    &__right{
        width: 50%;
    }
    &__wrapper{
        display: flex;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 24px;
        grid-row-gap: 50px;
    }
}